/*Les différentes police*/
@font-face /*header, footer*/
{
    font-family: 'familiar_probold';
    src: url('Police/Familiar_Pro-Bold-webfont.eot');
    src: url('Police/Familiar_Pro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Police/Familiar_Pro-Bold-webfont.woff2') format('woff2'),
         url('Police/Familiar_Pro-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face /*Menu1*/
{
    font-family: "Devonshire-Regular";
    src: url("Police/Devonshire-Regular.eot"); 
    src: url("Police/Devonshire-Regular.eot?#iefix") format("embedded-opentype"),
    url("Police/Devonshire-Regular.woff2") format("woff2"),
    url("Police/Devonshire-Regular.woff") format("woff"),
    url("Police/Devonshire-Regular.ttf") format("truetype"),
    url("Police/Devonshire-Regular.svg#Devonshire-Regular") format("svg");
  }

@font-face /*Menu2*/
{
    font-family: "Croissant One";
    src: url("Police/Croissant One.eot");
    src: url("Police/Croissant One.eot?#iefix") format("embedded-opentype"),
    url("Police/Croissant One.woff2") format("woff2"),
    url("Police/Croissant One.woff") format("woff"),
    url("Police/Croissant One.ttf") format("truetype"),
    url("Police/Croissant One.svg#Croissant One") format("svg");
}

@font-face /*Menu3*/
{
    font-family:"akaDora";
    src:url("Police/akaDora.eot?") format("eot"),
        url("Police/akaDora.woff") format("woff"),
        url("Police/akaDora.ttf") format("truetype"),
        url("Police/akaDora.svg#akaDora") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face /*Menu4*/
{
    font-family: "Kaushan Script";
    src: url("Police/Kaushan Script.eot");
    src: url("Police/Kaushan Script.eot?#iefix") format("embedded-opentype"),
    url("Police/Kaushan Script.woff2") format("woff2"),
    url("Police/Kaushan Script.woff") format("woff"),
    url("Police/Kaushan Script.ttf") format("truetype"),
    url("Police/Kaushan Script.svg#Kaushan Script") format("svg");
}

@font-face /*plat, prix*/
{
    font-family: "Michaelmas V3";
    src: url("Police/Michaelmas V3.eot");
    src: url("Police/Michaelmas V3.eot?#iefix") format("embedded-opentype"),
    url("Police/Michaelmas V3.woff2") format("woff2"),
    url("Police/Michaelmas V3.woff") format("woff"),
    url("Police/Michaelmas V3.ttf") format("truetype"),
    url("Police/Michaelmas V3.svg#Michaelmas V3") format("svg");
}

/*Les keyfarmes*/

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes points {
    0% { opacity: 0; }
    25% { opacity: 0.25; }
    50% { opacity: 0.5; }
    75% { opacity: 0.75; }
    100% { opacity: 1; }
}



/*couleur*/

$Jaune: #ffcc44;
$VertF: #579c87;
$Peche: #fcdfdb;
$Rose: #fff5fe;
$Gris: #EEEEEE;
$Marron: #3d1219;
$Orange: #e6962e;
$Bleu: #1a91fa;
$Vertlight: #7ec75e;
$Violet: #a56799;
$Violetf: #6e4ccc;



/*Mixin*/

@mixin head-foot 
{
    background-color: $VertF;
    color: $Jaune;
}

@mixin Box-menu {
    box-shadow: 0px 0px 10px 5px lightgrey;
    padding: 75px 15px;
    width: 300px;
    height: 250px;
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;            
}

@mixin menu1 {
    background: linear-gradient(to right, #f05160, #f6916a);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin menu2 {
    background-image: linear-gradient(to right, #e6962e, #905cff);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin menu3 {
    background-image: linear-gradient(to right, #2451e4, #1a91fa);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin menu4 {
    background-image: linear-gradient(to right, #61ad54, #bdfe7e);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin Menu-page {
    margin-bottom: 60px;
    width: 700px;
    box-shadow: 0px 0px 10px 5px lightgrey;
    text-align: center;
    padding: 15px 30px 15px 30px;
}




/*sur toutes les pages*/

header /*finit*/
{
    @include head-foot;
    text-align: center;
    font-family: 'familiar_probold', Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 1px;
    a{
        text-decoration: none;
        color: $Jaune;}
}

footer /* manque animation*/
{
    @include head-foot;
    position: fixed;
    bottom: 0; 
    padding: 15px 10px;
    font-weight: bold;
    justify-content: space-between;
    display: flex;
    right: 8px;
    left: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    a{
        text-decoration: none;
        color: $Jaune;
        &:hover{
        animation: shake 0.5s infinite;
        }
    }
}



/*Page Index*/


#index
{
    font-size: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 55px;
    #ligne1, #ligne2{
        display: flex;
        flex-direction: row;
        }
    #Menu1{
        background-color: $Peche;
        font-family: 'Devonshire-Regular', Arial, Helvetica, sans-serif;
        @include Box-menu;
        i{
            font-size: 50px;
            @include menu1;
        }
        h2, h3 {
            color: $Marron;
            font-weight: normal;
            font-size: 30px;
        }
        h3{
            font-family: 'Segoe Print', Arial, Helvetica, sans-serif;
        }
    }
    


    #Menu2{
        background-color: $Rose;
        color: $Orange;
        font-family: 'Croissant One', Arial, Helvetica, sans-serif;
        @include Box-menu;
        h2{
            @include menu2;
            font-weight: normal;
            font-size: 20px;
        }
        h3{
            font-weight: normal;
        }
    }
    
    #Menu3{
        background-color: $Gris;
        font-family: 'akaDora', Arial, Helvetica, sans-serif;
        @include Box-menu;
        h2{
            @include menu3;
            font-weight: normal;
            font-size: 30px;
        }
        h3{
            font-family: 'Segoe Print', Arial, Helvetica, sans-serif;
            font-weight: normal;
            color: $Bleu;
        }
    }
    
    #Menu4{
        background-color: white;
        font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
        @include Box-menu;
        h2{
            @include menu4;
            font-weight: normal;
            font-size: 30px;
        }
        h3{
            font-family: 'Segoe Print', Arial, Helvetica, sans-serif;
            font-weight: normal;
            color: $Vertlight;
        }
    }
    a{
        text-decoration: none;
    }    
    .animation{
        transform: scale(1);
        opacity: 1;
        transition-property: transform;
        transition-duration: 2s;
            &:hover{
            transform: scale(1.25);
            opacity: 0.5;
        }
    }
}

aside
{
    display: flex;
    justify-content: center;
    padding-bottom: 65px;
    button{
        @include head-foot;
        border: 1px solid $VertF;
        border-radius: 15px;
        font-size: 20px;
        padding: 15px 25px;
        em{
            animation: 0.3s;
            font-size: 25px;
            animation: points 1.5s infinite;
            &:nth-child(2){
                animation-delay: 0.5s;
            }
            &:nth-child(3){
                animation-delay: 1s;
            }
        }
    }
}


/* Page Menu */

.Menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe Print', Arial, Helvetica, sans-serif;
    h3{
        font-size: 20px;}
}

.Titre
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.Plats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin: 1px 15px 1px 20px;
    font-size: 15px;
}

img{
    width: 200px;
    }

.stitre{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    transition: all 0.2s ease-in-out;
    position: relative;
    h3{
        background-image: linear-gradient( transparent calc( 100% - 3px ), black 3px );
        background-repeat: no-repeat;
        background-position: 0 100%;
        background-size: 0% 100%;
        transition: background-size 0.55s ease-in-out;
        &:hover,
        &:focus {
            background-size: 100% 100%;
        }
    }
}

.PlatsP{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Menu 1*/

#PremierMenu
{
    background-color: $Peche;
    @include Menu-page;
    h2{
        font-family: 'Devonshire-Regular', Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: normal;
        color: $Marron;
    }
    i{
        @include menu1;
    }
    h3, p{
        color: $Marron;
    }
}

#HautM1{
    i{
        font-size: 65px;
        margin-top: 20px;
    }
}

#BasM1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    i{
        font-size: 30px;
        padding-right: 10px;
    }
    h2{
        margin-right: 10px;
    }
}


#DessertM1{
    .PlatsM1{
        text-align: left;
        margin: 1px 15px 1px 20px;
        font-size: 15px;
    }
}

/*Menu 2*/

#DeuxiemeMenu
{
    background-color: $Rose;
    @include Menu-page;
    text-align: center;
    font-family: 'Croissant One', Arial, Helvetica, sans-serif;
    h2{
        font-size: 30px;
        font-weight: normal;
        @include menu2}
    h3{
        font-weight: normal;
        font-size: 20px;
    }
    #EntreeM2{
        color: $Orange;
        h3{
        background-image: linear-gradient( transparent calc( 100% - 3px ), $Orange 3px );}
    }
    #PlatprincipalM2{
        color: $Violet;
        h3{
            background-image: linear-gradient( transparent calc( 100% - 3px ), $Violet 3px );}
    }
    #DessertM2{
        color: $Violetf;
        h3{
            background-image: linear-gradient( transparent calc( 100% - 3px ), $Violetf 3px );}
    }
    p{
        margin-left: 40px;
        margin-right: 40px;
    }
}


#DessertM2{
    .PlatsM2{
        text-align: left;
        margin: 1px 15px 1px 20px;
        font-size: 15px;
    }
}

/*Menu 3*/

#TroisiemeMenu
{
    background-color: $Gris;
    @include Menu-page;
    h2{
        font-family: 'akaDora', Arial, Helvetica, sans-serif;
        font-size: 55px;
        font-weight: normal;
        @include menu3;}
    p{
        margin-left: 40px;
        margin-right: 40px;
    }
}

/*Menu 4*/

#QuatriemeMenu
{
    background-color: white;
    @include Menu-page;
    h2{
        font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
        font-size: 55px;
        font-weight: normal;
    @include menu4;}
    p{
        margin-left: 40px;
        margin-right: 40px;
    }
}



/* Mentions légales*/

#Mentionslegales{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
    h1{
        font-size: 30px;
        color: $Jaune;
        text-align: center;
    }
    article{
        text-align: center;
    }
}


/*Index version téléphone*/
@media (max-width: 720px) {

    #PresentaionM{
        display: flex;
        flex-direction: column;
        #ligne1, #ligne2{
            display: flex;
            flex-direction: column;
            #Menu1, #Menu2, #Menu3, #Menu4{
                width: 250px;
            }
        }
    }
}

/*Menu version téléphone*/
@media (max-width: 800px) {
    #PremierMenu, #DeuxiemeMenu, #TroisiemeMenu, #QuatriemeMenu{
        width: 500px;
        img{
            width: 100px;
        }
    }
}

@media (max-width: 580px){
    #PremierMenu, #DeuxiemeMenu, #TroisiemeMenu, #QuatriemeMenu{
        width: 250px;
        .stitre{
            text-align: center;
            justify-content: center;
        }
        img{
            display: none;
        }
    }
    .PlatsP,{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #DessertM1, #DessertM2{
        .PlatsM1, .PlatsM2{
            text-align: center;}
    }
}

@media (max-width: 340px) {
    #PremierMenu, #DeuxiemeMenu, #TroisiemeMenu, #QuatriemeMenu{
        width: 200px;}
}

/* sur écran plus grand que 1400px */

@media all and (min-width: 1400px){

    /* Index*/
    #PresentaionM{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        #ligne1, #ligne2{
            align-content: space-around;
            #Menu1, #Menu2, #Menu3, #Menu4{
                width: 600px;
                height: 700px;
            }
        }
        .animation{
            transform: scale(1);
            opacity: 1;
            transition-property: transform;
            transition-duration: 2s;
                &:hover{
                transform: scale(2);
                opacity: 0.5;
            }
        }
    }

    /*Menus*/
    #PremierMenu, #DeuxiemeMenu, #TroisiemeMenu, #QuatriemeMenu{
        width: 1200px;
        img{
            width: 400px;
        }
    }
}